################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cmake
/bin
/tmp/
/extern/lib/
/extern/boost/
/extern/dxc/
