################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
dx12test/x64/Release
dx12test/x64/Release Unity
dx12test/.vs
dx12test/packages/
/shadercompiler/x64
/src/system/.vs
/tmp/
/extern/boost/
/extern/spdlog/
spdlog/x64
tbb/x64
CMakeLists.txt
