[submodule "extern/microprofile"]
	path = extern/microprofile
	url = https://github.com/jonasmr/microprofile.git
    ignore = dirty
[submodule "extern/cpp-taskflow"]
	path = extern/cpp-taskflow
	url = https://github.com/cpp-taskflow/cpp-taskflow.git
    ignore = dirty
[submodule "extern/DirectXMath"]
	path = extern/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/D3D12MemoryAllocator"]
	path = extern/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
